OPENAI_API_KEY=sua_chave_aqui
GOOGLE_API_KEY=sua_chave_aqui
OLLAMA_BASE_URL=http://localhost:11434
MODEL="granite4.1:3b"


BD_DSN="sua_string_de_conexao_aqui"
BD_USER="seu_usuario_aqui"

LANGSMITH_API_KEY=.sua_chave_aqui
LANGSMITH_TRACING=True 